body {
    font-family: sans-serif;
    padding: 20px 0 20px 50px;
    background-color: #CCC;
}

figure {
    padding: 20px;
    width: 600px;
    margin-bottom: 80px;
    background-color: #FFF;
    box-shadow: 5px 10px 10px #888888;
}

figure img {
    width: 300px;
}

details {
    margin: 10px 0 0 0;
    font-size: 16px;
}

summary {
    padding: 20px 0px 10px 0px;
}

table {
    border: 1px solid #999;
}

td {
    padding: 2px;
}
