:root {
  --duration-expand: 300ms;
  --duration-collapse: 250ms;
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: sans-serif;
  padding: 20px 0 20px 50px;
  background-color: #ccc;
}

figure {
  padding: 20px;
  width: 600px;
  margin-bottom: 80px;
  background-color: #fff;
  box-shadow: 5px 10px 10px #888888;
  position: relative;
}

details {
  display: block;
  top: 0;
  height: 100%;
  overflow-y: visible;
  z-index: 1050;
  font-size: 16px;
  width: 100%;
}

summary {
  display: block;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.5em;
  top: 0;
  right: 0;
  cursor: pointer;
}

details[open] svg.closed {
  display: none;
}
details[open] svg.opened {
  display: block;
}

details svg.closed {
  display: block;
}

details svg.opened {
  display: none;
}

detail details[open] :last-child {
  background-color: #fff;
  padding: 1rem;
}

details[open] summary {
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform-origin: top;
}

figure img {
  display: block;
  margin: 0 auto;
}

figure details {
  position: absolute;
  top: 0;
  right: 0;
}

img {
  max-width: 100%;
}

table {
  border: 1px solid #999;
}

td {
  padding: 2px;
}

/* animations */
summary {
  margin: 0 5px;
  display: flex;
  align-items: center;
}

summary.dm-right {
  justify-content: space-between;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-details-marker,
summary::-ms-details-marker,
summary::-o-details-marker,
summary::details-marker {
  display: none;
}

details summary + div {
  overflow-y: hidden;
  transition: height var(--duration-expand) var(--easing-standard);
  top: 0;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 1rem;
  cursor: -webkit-grab;
  cursor: grab;
}

/* details marker: an element-version of the ::details-marker pseudo-element */

.details-marker {
  width: 1em;
  height: 1em;
  transition: transform var(--duration-expand) var(--easing-standard);
  transform-origin: center;
}

.details-marker.right {
  transform: rotate(90deg);
}

details[open] summary + div {
  transition: height var(--duration-collapse) var(--easing-standard);
}

details[open] .details-marker {
  transition: transform var(--duration-collapse) var(--easing-standard);
}

details[open] .details-marker.right {
  transform: rotate(180deg);
}

details[open] .details-marker.right.closing {
  transform: rotate(90deg);
}

details[open] .details-marker.up {
  transform: rotate3d(1, 0, 0, 180deg);
}

details[open] .details-marker.up.closing {
  transform: rotate3d(1, 0, 0, 0);
}

@media screen and (prefers-reduced-motion: reduce) {
  details summary + div,
  .details-marker {
    transition: none !important;
  }
}

summary {
  box-sizing: border-box;
  position: absolute;
}

details:not(.dragging) {
  transition: top 195ms cubic-bezier(0, 0, 0.2, 1),
    left 195ms cubic-bezier(0, 0, 0.2, 1);
}

/* when using a mouse, show the summary on figure-hover (hide by default) */
@media (pointer: fine) {
  summary {
    color: transparent;
    background-color: transparent;
  }
  figure:hover summary {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

summary .fas {
  float: right;
}

summary:focus {
  outline: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.65);
}
